*{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.logoLink {
  background-size: cover;
  width: 3.5rem;
}

.navMenuLink {
  display: inline-block;
  color: black;
  margin: 1rem;
  text-decoration: none;
  border-radius: .5rem;
  transition: all 0.3s ease-in-out;
}

.navMenuLink:hover {
  color: black;
  border: .1rem solid black;
  cursor: pointer;
}

.navbar {
  background-color: #ffe521; 
}

.container2{
  margin-top: 1%;
  display: flex;
  justify-content: center;

}

.brackets {
  flex-direction: column-reverse;
}

.arrow-img-container {
  display: flex;
  justify-content: flex-end;
}

video {
  object-fit:contain;
  height: 250px;
  border-radius: 30px;
  border: 2px solid black;
  width: initial!important;
}

h1 {
  margin: 5%;
  margin-top: 4%;
  line-height: 1.2;
  font-size: 2.2rem;
  font-weight: 1rem;
}

h5 {
  margin: 8%;
}